/* Poppins Google Font Link here */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Poppins", serif; */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

/* nav styles */

nav {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}

.nav-menu {
  display: flex;
  gap: 34px;
  justify-content: flex-end;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}
